@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<footer>
        <section class="footer-section">
        <!-- <img class="background-lines-white-right" src="~/images/background-effects/background-lines-white-right.svg" alt="" /> -->
            <div class="container">

                <div class="logo">
                    <img src="~/images/logos/logotype-white.svg" alt="" />
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima unde nisi laborum et porro deleniti ratione adipisci, nostrum sapiente quis sed.</p>
                </div>
                <div>
                    <h5>Company</h5>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Work</a></li>
                        <li><a href="#">Career</a></li>
                    </ul>
                </div>
                <div>
                    <h5>Help</h5>
                    <ul>
                        <li><a href="#">Customer Support</a></li>
                        <li><a href="#">Delivery Details</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div>
                    <h5>Resources</h5>
                    <ul>
                        <li><a href="#">Free eBooks</a></li>
                        <li><a href="#">Development Tutorial</a></li>
                        <li><a href="#">How to - Blog</a></li>
                        <li><a href="#">YouTube Playlist</a></li>
                    </ul>
                </div>
                <div>
                    <h5>Links</h5>
                    <ul>
                        <li><a href="#">Free eBooks</a></li>
                        <li><a href="#">Development Tutorial</a></li>
                        <li><a href="#">How to - Blog</a></li>
                        <li><a href="#">YouTube Playlist</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="copyright-section">
            <div class="container">
                <div>©2023 Crito - Consulting Company Inc. All Rights Reserved</div>
                <div class="social-media">
                    <a href="http://facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="http://twitter.com" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a href="http://instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
                    <a href="http://linkedin.com" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </section>
    </footer>