@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <section class="meet">
        <div class="container">
            <div class="content-title">
                <p>Meet Our Team</p>
                <h2>Experience Team Members</h2>
            </div>
            <div class="button-browse-team">
                <a class="btn-yellow" href="projects.html">Browse Team<i class="bi bi-arrow-up-right"></i></a>
            </div>
            <div class="meet-box-content">
                <div class="content-item">
                <a href="#">
                    <img src="~/images/christina-wocintechchat-com-SJvDxw0azqw-308.jpg" alt="">
                    <h3>Kristine Palmer</h3>
                    <p>Chef Operation Officer</p>
                </a>
                </div>
                <div class="content-item">
                <a href="#">
                    <img src="~/images/itay-verchik-6ZKGBzrDd3I-308.jpg" alt="">
                    <h3>Mark Aubri</h3>
                    <p>Senior Consultant</p>
                </a>
                </div>
                <div class="content-item">
                <a href="#">
                    <img src="~/images/christina-wocintechchat-com-Zpzf7TLj_gA-308.jpg" alt="">
                    <h3>Kimbrly Hansen</h3>
                    <p>Senior Conslutant</p>
                </a>
                </div>
                <div class="content-item">
                <a href="#">
                    <img src="~/images/the-connected-narrative-N8lRH2uxih4-308.jpg" alt="">
                    <h3>Justin Willoman</h3>
                    <p>Senior Tech Conslutant</p>
                </a>
                </div>
            </div>

        </div>
    </section>