@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<header>
    <div class="container">
        <a href="index.html"><img src="~/images/logos/logotype.svg" alt="Logotype for Crito"></a>
        <button class="menubutton"><i class="bi bi-list"></i></button>
        <div class="menu">
            <div class="top-menu">
                <div class="contact-information">
                    <div class="information-content">
                        <i class="bi bi-telephone"></i>+46 (8) 121 470 50
                    </div>
                    <div class="information-content">
                        <i class="bi bi-envelope"></i>info@crito.com
                        <!-- <a href="#"><i class="bi bi-envelope"></i>info@crito.com</a> -->
                    </div>
                    <div class="information-content last">
                        <i class="bi bi-geo-alt"></i>Sveavägen 31, 111 34 STOCKHOLM
                    </div>
                </div>
                <div class="social-media">
                    <a href="http://facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="http://twitter.com" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a href="http://instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
                    <a href="http://linkedin.com" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
            <div class="navigation-menu">
                <nav>
                    <a class="active" href="index.html">Home</a>
                    <a href="service.html">Service</a>
                    <a href="news.html">News</a>
                    <a href="contact.html">Contact</a>
                </nav>
                <a class="btn-yellow" href="login.html">Login<i class="bi bi-arrow-up-right"></i></a>
            </div>
        </div>
    </div>
</header>
