@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceFeatures2)Model.Content;
}

<div>
    <i class="@content.Value("serviceFeaturesIcon")"></i>
    <h2>@content.Value("serviceFeaturesTitle")</h2>
    @content.Value("serviceFeaturesDescription")
</div>



<!-- 00:47:05
00:53:00 umb-block-list
01:15:00 Uppdatera CSS
-->